h1
{
    color: rgb(255, 127, 146);
    
}
/* body
{
    background-color: bisque;
} */
button
{
    color: cornflowerblue;
    background-color: chartreuse;
}
#heading
{
    color: red;
}
#heading2
{
    color: red;
}